<mat-card class="bg-light shadow-sm">
    <img mat-card-image [src]="post.thumbnail" style="height: 450px;">
    <mat-card-content>
        <h3>{{post.postTitle}}</h3> <mat-card-subtitle style="color: black;">{{post.createdAt | date:'MMM d, y'}}.</mat-card-subtitle>
        <div class="postTeaser">
            {{post.postContent}}
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button (click)="like(post.postId,'post')"><i class="bi bi-hand-thumbs-up">{{likecounter}}</i></button>
        <button><i class="bi bi-chat-text" routerLink="/booklets/{{post.postId}}" routerLinkActive="active ">{{commentcounter}}</i></button>
        <button class="btn btn-primary" routerLink="/post/{{post.postId}}" routerLinkActive="active ">Read More</button>
    </mat-card-actions>
</mat-card>