<div
  class="modal"
  tabindex="-1"
  id="loginmodal"
  aria-labelledby="loginmodal"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header"><h5 class="modal-title">Log In</h5></div>
      <div class="modal-body">
        <form (ngSubmit)="login()">
          <div class="mb-3">
            <label for="username" class="form-label">User Name</label>
            <input
              type="username"
              class="form-control"
              id="username"
              name="username"
              [(ngModel)]="username"
              placeholder="Username"
              required
            />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              [(ngModel)]="password"
              placeholder="Password"
              required
            />
          </div>
          <div class="mb-3">
            <button type="submit" class="btn btn-primary">Log In</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
