<div class="container-fluid">

<div style="display: flex; align-items: center;width: 100%;justify-content: space-between;padding: 0.5rem 1rem;margin-bottom: 2rem;border-radius: 12px;border-color: blanchedalmond;background-color: blanchedalmond;">
<button class="btn btn-primary btn-lg" (click)="openCreatePostDialog()">
      Create Post
   </button><br>
<div style="display: flex;align-items: center;">
 <app-searchbar (filtersChange)="onFiltersChanged($event)"></app-searchbar>
</div>
</div>
<mat-table #table [dataSource]="posts" matSort class="mat-elevation-z0 full-width-table">
    <!-- postId-->
     <ng-container matColumnDef="postId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>PostId</th>
        <td mat-cell *matCellDef="let post">{{post.postId}}</td>
     </ng-container>
     <!--postTitle-->
     <ng-container matColumnDef="postTitle">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Post Title</th>
        <td mat-cell *matCellDef="let post">{{post.postTitle}}</td>
     </ng-container >
     <!--createdAt-->
     <ng-container matColumnDef ="createdAt" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Created At</th>
        <td mat-cell *matCellDef="let post">{{post.createdAt | date:"dd-MM-yy HH:mm:ss"}}</td>
     </ng-container>
     <!--updatedAt-->
     <ng-container matColumnDef ="updatedAt" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Updated At</th>
        <td mat-cell *matCellDef="let post">{{post.updatedAt | date:"dd-MM-yy HH:mm:ss"}}</td>
     </ng-container>
     <!--Action Column-->
     <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
        <td mat-cell *matCellDef="let post">
              <button class="btn btn-info" (click)="viewPostDetails(post.postId)" style="margin: 0.5rem;">
            <i class="bi bi-eye"></i>
        </button>
            <button class="btn btn-primary" (click)="openEditDialog(post)" style="margin: 0.5rem;">
                <i class="bi bi-pencil-square"></i>
              </button>
            <button class="btn btn-danger" (click)="openDeleteDialog(post)" style="margin: 0.5rem;">
                <i class="bi bi-trash3"></i>
              </button>
        </td>
     </ng-container>
     <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
     <tr mat-row *matRowDef="let row; columns:displayedColumns;"></tr>
</mat-table>
<mat-paginator [pageSizeOptions]="[10,25,50,100]" showFirstLastButtons></mat-paginator>
</div>