<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarToggler"
      aria-controls="navbarToggler"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggler">
      <a class="navbar-brand" href="#">Kingdom Channel</a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="/"
            routerLinkActive="active "
            data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="active"
          data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
            >About</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/posts" routerLinkActive="active"
          data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
            >Posts</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/videos" routerLinkActive="active"
            >Videos</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/booklets" routerLinkActive="active"
          data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
            >Booklets</a
          >
        </li>
        
        <li *ngIf="authservice.getRole() === 'admin'" class="nav-item">
          <a class="nav-link" routerLink="/admin" routerLinkActive="active"
          data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
            >AdminDashBoard</a
          >
        </li>
      </ul>
      <div>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="bi bi-facebook"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.tiktok.com/@kingdomchannel2025"><i class="bi bi-tiktok"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.youtube.com/@KingdomChannel2025"><i class="bi bi-youtube"></i></a>
          </li>
        </ul>
      </div>
      <div *ngIf="!authservice.isLoggedIn(); else loggedInBlock">
        <button class="btn btn-outline-dark m-2" (click)="login()">
          Login
        </button>
        <button class="btn btn-outline-dark m-2" (click)="register()">
          Register
        </button>
      </div>

      <!-- Show this if logged in -->
      <ng-template #loggedInBlock>
        <mat-menu #userMenu="matMenu">
          <button mat-menu-item disabled>Hi, {{ username }}</button>
          <button mat-menu-item ><a class="nav-link" routerLink="/profile" routerLinkActive="active"
            data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
            >Profile</a
          > </button>
          <button  mat-menu-item (click)="logout()">Logout</button>
        </mat-menu>
        
        <button mat-button [matMenuTriggerFor]="userMenu">
          
          <mat-icon>arrow_drop_down</mat-icon>
          {{ username }}
        </button>
        
      </ng-template>
    </div>
  </div>
</nav>
