<div class="container-fluid">
  <div
    style="
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
      padding: 0.5rem 1rem;
      margin-bottom: 2rem;
      border-radius: 12px;
      border-color: blanchedalmond;
      background-color: blanchedalmond;
    "
  >
    <button class="btn btn-primary btn-lg" (click)="openCreateVideoDialog()">
      Create Video</button
    ><br />
    <div style="display: flex; align-items: center">
      <app-searchbar (filtersChange)="onFiltersChanged($event)"></app-searchbar>
    </div>
  </div>
  <mat-table #table [dataSource]="videos" matSort class="mat-elevation-z8">
    <!-- postId-->
    <ng-container matColumnDef="videoId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>VideoId</th>
      <td mat-cell *matCellDef="let video">{{ video.videoId }}</td>
    </ng-container>
    <!--postTitle-->
    <ng-container matColumnDef="videoTitle">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Video Title</th>
      <td mat-cell *matCellDef="let video">{{ video.videoTitle }}</td>
    </ng-container>
    <!--Videolink-->
    <ng-container matColumnDef="videoLink">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Video Link</th>
      <td mat-cell *matCellDef="let video">{{ video.videoLink }}</td>
    </ng-container>
    <!--videodescription-->
    <ng-container matColumnDef="videoDescription">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Video Description
      </th>
      <td mat-cell *matCellDef="let video">{{ video.videoDescription }}</td>
    </ng-container>
    <!--updatedAt-->
    <ng-container matColumnDef="updatedAt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Updated At</th>
      <td mat-cell *matCellDef="let video">{{ video.updatedAt| date:"dd-MM-yy HH:mm:ss" }}</td>
    </ng-container>
    <!--Action Column-->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
      <td mat-cell *matCellDef="let video">
        <button
          class="btn btn-info"
          style="margin: 0.25rem"
          (click)="openLink(video.videoLink)"
        >
          <i class="bi bi-eye"></i>
        </button>
        <button
          class="btn btn-primary"
          (click)="openEditDialog(video)"
          style="margin: 0.25rem"
        >
          <i class="bi bi-pencil-square"></i>
        </button>
        <button
          class="btn btn-danger"
          (click)="openDeleteDialog(video)"
          style="margin: 0.25rem"
        >
          <i class="bi bi-trash3"></i>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </mat-table>
  <mat-paginator
    [pageSizeOptions]="[10, 25, 50, 100]"
    showFirstLastButtons
  ></mat-paginator>
</div>
