<div class="booklet-detail mat-typography bg-light shadow-sm rounded">

    <mat-card class="detail-card bg-light shadow-none">
      <mat-card-header>
        <mat-card-title>{{ booklet.bookletTitle }}</mat-card-title>
      </mat-card-header>
  
      <img mat-card-image [src]="booklet.thumbnail" alt="Booklet Cover" />
  
      <mat-card-content>
        <p class="description" [innerHTML]="safeContent"></p>
        
        <mat-divider class="my-3"></mat-divider>
  
      </mat-card-content>
  
      <mat-card-actions align="end">
        <button class="actionbutton" (click)="like(booklet.bookletId,'booklet')"><i class="bi" [ngClass]="isLiked ? 'bi-hand-thumbs-up-fill' : 'bi-hand-thumbs-up'">{{likecounter}}</i></button>
        
        <button mat-stroked-button color="accent" (click)="downloadBooklet()">
          <mat-icon>file_download</mat-icon>
          Download
        </button>
  
        <button mat-raised-button color="primary" [routerLink]="['/reader', booklet.bookletId]">
          <mat-icon>menu_book</mat-icon>
          Read Here
        </button>
      </mat-card-actions>
    </mat-card>

    <div class="container-fluid recommended">
      <div class="d-flex flex-wrap justify-content-between gap-3 my-4">
        <div
          *ngFor="let booklet of rbooklets.data"
          class="p-2 border"
          style="min-width: 180px; max-width: 220px"
        >
          <a
            [routerLink]="'/booklets/' + booklet.bookletId"
            class="text-decoration-none text-dark"
          >
            <img
              [src]="booklet.thumbnail || 'IMG-20241119-WA0132.jpg'"
              class="img-fluid mb-2"
              style="width: 100%; height: 150px; object-fit: cover"
            />
            <p class="mb-0">{{ booklet
            .bookletTitle }}</p>
          </a>
        </div>
      </div>
    </div>

      <app-comments-section [id]="bookletId" [contentType]="ContentType.Booklet"></app-comments-section>
   
  </div>
  
