<div
  class="row"
  
>
  <div class="col-1">
    <img
      class="avatar"
      [src]="
        'https://api.dicebear.com/9.x/thumbs/svg?seed=' + comment.userId
      "
      alt="Anon Avatar"
    />
  </div>
  <div class="col-11" style="box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);border-radius: 12px;">
    <div class="row">
      <a style="font-weight: bolder"
        >{{ comment.username
        }}<a style="font-weight: normal">
          {{ comment.createdAt | date : "d/MM/y" }}</a
        >
      </a>
    </div>
    <div class="row">
      <div class="col-9">
        <a [innerHTML]="sanitize(comment.comment)"></a>
      </div>
      <div class="col-3">
        <div class="container-fluid">
          <button
            class="btn btn-primary me-2 btn-sm"
            (click)="editComment()"
            *ngIf="comment.userId == userinfo?.nameid"
          >
            <i class="bi bi-pencil-square"></i>
          </button>
          <button
            class="btn btn-danger me-2 btn-sm"
            (click)="deleteComment()"
            *ngIf="comment.userId == userinfo?.nameid"
          >
            <i class="bi bi-trash-fill"></i>
          </button>
          <button class="btn btn-light me-2 btn-sm" (click)="flagComment()">
            <i class="bi bi-flag-fill" style="color: red"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
