<div class="comment-card d-flex p-3 mb-3 shadow-sm rounded">
  <img
    class="avatar me-3"
    [src]="'https://api.dicebear.com/9.x/thumbs/svg?seed=' + comment.userId"
    alt="Anon Avatar"
  />

  <div class="flex-grow-1">
    <div class="d-flex justify-content-between align-items-center mb-1">
      <div>
        <strong>{{ comment.username }}</strong>
        <span class="text-muted ms-2 small">
          {{ comment.createdAt | date: 'd/MM/y' }}
        </span>
      </div>
      <div>
        <button
          class="btn btn-sm btn-outline-primary me-1"
          (click)="editComment()"
          *ngIf="comment.userId == userinfo?.nameid"
          title="Edit"
        >
          <i class="bi bi-pencil-square"></i>
        </button>
        <button
          class="btn btn-sm btn-outline-danger me-1"
          (click)="deleteComment()"
          *ngIf="comment.userId == userinfo?.nameid"
          title="Delete"
        >
          <i class="bi bi-trash-fill"></i>
        </button>
        <button
          class="btn btn-sm btn-outline-secondary"
          (click)="flagComment()"
          title="Flag"
        >
          <i class="bi bi-flag-fill text-danger"></i>
        </button>
      </div>
    </div>

    <div class="comment-text" [innerHTML]="sanitize(comment.comment)"></div>
  </div>
</div>
