<div class="row">
  <p>{{ comment.comment }}</p>
</div>
<div class="row">
    <div class="col-6">
        <a style="font-weight: bolder;">{{ comment.username }}</a> on {{ comment.createdAt | date : "MMM d, y" }}
    </div>
    <div class="col-6">
        <div class="container-fluid">
            <button class="btn btn-light me-2 btn-sm" (click)="flagComment()"><i class="bi bi-flag-fill" style="color: red;"></i></button>
            <button class="btn btn-primary me-2 btn-sm" (click)="editComment()" *ngIf="comment.userId == userinfo?.nameid"><i class="bi bi-pencil-square"></i></button>
            <button class="btn btn-danger me-2 btn-sm" (click)="deleteComment()" *ngIf="comment.userId == userinfo?.nameid"><i class="bi bi-trash-fill"></i></button>
        </div>
    </div>
    
</div>
