<h2 mat-dialog-title>Edit Post Information</h2>
<mat-dialog-content>
  <form (ngSubmit)="submitChanges()">
    <mat-form-field class="full-width">
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
      <mat-label>Post Title</mat-label>
      <input
        matInput
        [(ngModel)]="post.postTitle"
        name="postTitle"
        required
      />
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Post Content</mat-label>
      <input matInput [(ngModel)]="post.postContent" name="postContent" required />
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Thumbnail</mat-label>
      <input
        matInput
        [(ngModel)]="post.thumbnail"
        name="thumbnail"
        required
      />
    </mat-form-field>

    <div mat-dialog-actions>
      <button mat-button (click)="onCancel()">Cancel</button>
      <button mat-button color="primary" type="submit">Save Changes</button>
    </div>
  </form>
</mat-dialog-content>
