<div class="container-fluid">

<div style="display: flex; align-items: center;width: 100%;justify-content: space-between;padding: 0.5rem 1rem;margin-bottom: 2rem;border-radius: 12px;border-color: blanchedalmond;background-color: blanchedalmond;">
<button class="btn btn-primary btn-lg" (click)="openCreateBookletDialog()">
     Post Booklet
   </button><br>
<div style="display: flex;align-items: center;">
 <app-searchbar (filtersChange)="onFiltersChanged($event)"></app-searchbar>
</div>
</div>
<mat-table #table [dataSource]="booklets" matSort class="mat-elevation-z8" style="margin-left:0.5rem;">
    <!-- postId-->
     <ng-container matColumnDef="bookletId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>BookletId</th>
        <td mat-cell *matCellDef="let booklet">{{booklet.bookletId}}</td>
     </ng-container>
     <!--postTitle-->
     <ng-container matColumnDef="bookletTitle">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Booklet Title</th>
        <td mat-cell *matCellDef="let booklet">{{booklet.bookletTitle}}</td>
     </ng-container >
     <!--Bookletlink-->
     <ng-container matColumnDef="bookletLink">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Booklet Link</th>
        <td mat-cell *matCellDef="let booklet">{{booklet.bookletLink}}</td>
     </ng-container >
     <!--bookletdescription-->
     <ng-container matColumnDef="bookletDescription">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Booklet Description</th>
        <td mat-cell *matCellDef="let booklet">{{booklet.bookletDescription}}</td>
     </ng-container >
     <!--updatedAt-->
     <ng-container matColumnDef ="updatedAt" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Updated At</th>
        <td mat-cell *matCellDef="let booklet">{{booklet.updatedAt | date:"dd/MM/yy HH:mm:ss"}}</td>
     </ng-container>
     <!--Action Column-->
     <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
        <td mat-cell *matCellDef="let booklet">
         <button class="btn btn-info" (click)="viewBookletDetails(booklet.bookletId)" style="margin: 0.5rem;">
            <i class="bi bi-eye"></i>
        </button>
            <button class="btn btn-primary" (click)="openEditDialog(booklet)" style="margin: 0.5rem;">
                <i class="bi bi-pencil-square"></i>
              </button>
            <button class="btn btn-danger" (click)="openDeleteDialog(booklet)" style="margin: 0.5rem;">
                <i class="bi bi-trash3"></i>
              </button>
        </td>
     </ng-container>
     <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
     <tr mat-row *matRowDef="let row; columns:displayedColumns;"></tr>
</mat-table>
<mat-paginator [pageSizeOptions]="[10,25,50,100]" showFirstLastButtons></mat-paginator>
</div>