<div class="postcard p-4">
  <h2 mat-dialog-title class="dialog-title">Create User</h2>

  <mat-dialog-content>
    <form [formGroup]="form" (ngSubmit)="submitChanges()" class="post-form" novalidate>
      <div *ngIf="errorMessage" class="error-text">
        {{ errorMessage }}
      </div>

      <mat-form-field appearance="outline" class="full-width mt-1 ">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" required />
        <mat-error *ngIf="form.get('username')?.hasError('required')">
          Username is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required />
        <mat-error *ngIf="form.get('email')?.hasError('required')">
          Email is required
        </mat-error>
        <mat-error *ngIf="form.get('email')?.hasError('email')">
          Enter a valid email address
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Role</mat-label>
        <input matInput formControlName="role" required />
        <mat-error *ngIf="form.get('role')?.hasError('required')">
          Role is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" required id="password" />
        <mat-error *ngIf="form.get('password')?.hasError('required')">
          Password is required
        </mat-error>
      </mat-form-field>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions class="dialog-actions">
    <button mat-button type="button" (click)="onCancel()" class="actionbutton">Cancel</button>
    <button mat-button color="primary" type="submit" (click)="submitChanges()" [disabled]="form.invalid" class="actionbutton">
      Create User
    </button>
  </mat-dialog-actions>
</div>
