<div class="d-flex row">
  <div class="d-flex justify-content-end container-fluid">
    <app-contentsearchbar
      (filtersChange)="onFiltersChanged($event)" style="margin-right: 2em;"
    ></app-contentsearchbar>
  </div>
</div>

  <div class="container-fluid">
    <div class="row mx-3 py-3">
      <div *ngFor="let booklet of filteredBooklets" class="col-md-3">
        <app-booklet-card
          [booklet]="booklet"
          [isLiked]="userLikedBookletsIds.has(booklet.bookletId)"
          (likedChanged)="userLikeBooklets()"
          [isBookmarked]="userBookmarkedIds.has(booklet.bookletId)"
          (bookmarkChanged)="userBookmarkedBooklets()"
          class="m-3 p-3"
        ></app-booklet-card>
      </div>
    </div>
  </div>
