
<mat-card class="shadow-sm bookcard">
    
    <div routerLink="/booklets/{{booklet.bookletId}}" routerLinkActive="active ">
        <img mat-card-image [src]="booklet.thumbnail " class="card-img-top book-img" alt="Book Cover">
    <mat-card-content>
        <h1>{{booklet.bookletTitle}}</h1>
        <div class="bookletTeaser">
            <p>{{booklet.bookletDescription}} </p>
        </div>
    </mat-card-content>
    </div>
    <mat-card-actions>
        <button class="actionbutton" (click)="like(booklet.bookletId,'booklet')"><i class="bi" [ngClass]="isLiked ? 'bi-hand-thumbs-up-fill' : 'bi-hand-thumbs-up'">{{likecounter}}</i></button>
        <button class="actionbutton"><i class="bi bi-chat-text" routerLink="/booklets/{{booklet.bookletId}}" routerLinkActive="active ">{{booklet.commentCount}}</i></button>
    </mat-card-actions>
</mat-card>
