<div class="container-fluid p-5">
  <h1 mat-dialog-title>Post Booklet</h1>
  <div mat-dialog-content>
    <form [formGroup]="form" >
      <mat-form-field appearance="fill">
        <mat-label>Booklet Title</mat-label>
        <input matInput formControlName="bookletTitle" />
      </mat-form-field>

      <mat-form-field appearance="fill" *ngIf="!form.get('uploadPdf')" >
        <mat-label>Booklet Link</mat-label>
        <input matInput formControlName="bookletLink" />
      </mat-form-field>
       <mat-checkbox formControlName="uploadPdf" name="uploadPdfToggle">
        Upload PDF
      </mat-checkbox>
      
      <div *ngIf="form.get('uploadPdf')?.value">
        <label for="pdf">Upload PDF</label>
        <input
          id="pdf"
          type="file"
          (change)="onPdfSelected($event)"
          accept="application/pdf"
        />
        <div *ngIf="!selectedPdfFile && form.touched">
          PDF is required
        </div>
      </div>

      <mat-form-field appearance="fill">
        <mat-label>Booklet Synopsis</mat-label>
        <input matInput formControlName="bookletDescription" />
      </mat-form-field>

      <input
        id="thumbnail"
        type="file"
        (change)="onFileSelected($event)"
        accept="image/*"
      />
      <div *ngIf="!selectedFile && form.touched">
        Image is required
      </div>

      <div *ngIf="previewUrl" class="image-preview mt-2">
        <img [src]="previewUrl" alt="Preview" style="max-height: 200px;" />
      </div>
    </form>
  </div>

  <div mat-dialog-actions class="container-fluid m-2">
    <button mat-button (click)="closeDialog()" class="m-2">Cancel</button>
    <button
      mat-button
      color="primary"
      (click)="submitForm()"
      [disabled]="form.invalid || !selectedFile"
    >
      Save
    </button>
    
  </div>
</div>