<app-add-comment *ngIf="isLoggedIn; else loginRegisterButtons"  [postId]="postId" (commentPosted)="onCommentPosted()"></app-add-comment>
<ng-template #loginRegisterButtons >
    <button data-bs-target="#loginmodal" data-bs-toggle="modal">
      Login
    </button>
    <button data-bs-target="#registermodal" data-bs-toggle="modal">Register</button>
  </ng-template>
<div class="container-fluid">
    <div>
        <div  *ngFor="let comment of comments">
            <app-comment-card [comment]="comment" class="m-3 p-3 " (commenEdited)="onCommentEdited($event)" (commentDeleted)="onCommentDeleted(comment.commentId)" (commentFlagged)="onCommentFlagged(comment.commentId)"></app-comment-card>
       </div>
    </div>
</div>