.social-ribbon {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  background-color: #2f4f4f;
  border-radius: 8px 0 0 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  padding: 0.5rem;
  z-index: 9999;
}

.social-ribbon a {
  margin: 0.3rem 0;
  color: #ffffff;
  font-size: 1.5rem;
  text-align: center;
  transition: color 0.3s ease;
}


.social-ribbon .bi-facebook:hover
{
    color: blue;
}s
.social-ribbon .bi-tiktok:hover
{
    color: rgb(3, 255, 255);
}
.social-ribbon .bi-youtube:hover
{
    color: rgb(255, 0, 0);
}
.social-ribbon .bi-whatsapp:hover
{
    color: rgb(43, 255, 0);
}